<div class="footer">

    <div class="copyright-n-links">
        <div class="copyright">
        <p><i class="fa-regular fa-copyright"></i>2025 Airbnb,Inc.</p>
        </div>
        <div class="links">
        <a href="#">. Privacy</a>
        <a href="#">. Terms</a>
        <a href="#">. Sitemap</a>
        <a href="#">. Company details</a>
        </div>
    </div> 

     <div class="country-n-socials">
        <div class="country">
            <p><i class="fa-solid fa-globe"></i> English(IN)</p>
            <p>&#8377; INR</p>
        </div>
        <div class="socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-instagram"></i>

        </div>
     </div>   

</div>