
<div class="footer">

        <div class="copyright element">
               <i class="fa-regular fa-copyright"></i>2025 Airbnb,Inc.
        </div>

        <div class="links element">
            <a href="#">. Privacy</a>
            <a href="#">. Terms</a>
            <a href="#">. Sitemap</a>
            <a href="#">. Company details</a>
        </div>

        <div class="country element">
            <span><i class="fa-solid fa-globe"></i> English(IN)</span>
            <span>&#8377; INR</span>
        </div>
        
        <div class="socials element">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
     

</div>