<% layout("/layouts/boilerplate") %>

<div class="col-6 offset-2 mt-4">
    <h2 class="col-6 offset-4">Login on wanderlust</h2>
    <div>
        <form action="/login" method="POST" class="needs-validation">
            <div class="row">
                <label for="username" id="username" class="form-label">Username</label>
                <input type="text" name="username" placeholder="Enter username" class="form-control" required>
            </div>  

             <div class="row">
                <label for="password" id="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="Enter password" class="form-control" required>
            </div>     
            <button class="btn btn-success mt-3">Login</button>     
        </form>
    </div>
</div>

